body{
    background-image: url("images/bluebg2.webp");
    background-size: cover;
    overflow:hidden;
    height:100vh;
    font-family: "Comic Sans MS";
}
.clock{
    height:400px;
    width:400px ;
    
    border: 25px solid rgba(205, 197, 197, 0.822);
    border-radius: 100%;
    position:relative;
    margin: 5rem auto;
    

}
.hand{
    
    height:45%;
    width:1%;
    background-color: black;
    position:absolute;
    margin:auto;
    bottom:50%;
    left:50%;
    /* border:2px solid white; */
    transform-origin:bottom center;
    border-radius: 50%;
    transition-duration: 0;
    transition-delay: none;
      
  
}
 .hours{
    height: 25%;
    width: 6px;
}

.minutes{
    width: 6px;
}

.letter{
    display: inline-block;
}

.head{
    font-size: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:rgba(205, 197, 197, 0.822);    
    margin-top: 2rem;
}


.head :hover
{
    transform: scale(1.4);
   
}

.clock:hover{
    transform: scale(1.02);
    box-shadow:1px 1px 60px black ;
}